@{
    ViewData["Title"] = "Leave Manager";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button id="pollButton" type="submit" class="btn btn-primary form-control">Poll Emails</button>
</div>

@section Scripts {
    <script src="~/js/poll.js"></script>
}