@model LeaveRequest

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2"> @(Model.Id != 0 ? "Create" : "Update") Leave Request</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="Id" hidden />
            <div class="row">
                <div class="col-12">
                    <div class="border p-3">
                        <div asp-validation-summary="ModelOnly"></div>

                        <div class="form-floating py-2 col-12">
                            <input asp-for="EmployeeEmail" class="form-control border-0 shadow" />
                            <label asp-for="EmployeeEmail" class="ms-2"></label>
                            <span asp-validation-for="EmployeeEmail" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            @if (Model.Id != 0)
                            {
                                <input asp-for="Start" class="form-control border-0 shadow" type="date"  />
                            }
                            else
                            {
                                <input asp-for="Start" class="form-control border-0 shadow" type="date" value="@DateOnly.FromDateTime(DateTime.Now)" />
                            }
                            <label asp-for="Start" class="ms-2"></label>
                            <span asp-validation-for="Start" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            @if (Model.Id != 0)
                            {
                                <input asp-for="End" class="form-control border-0 shadow" type="date" />
                            }
                            else
                            {
                                <input asp-for="End" class="form-control border-0 shadow" type="date" value="@DateOnly.FromDateTime(DateTime.Now)" />
                            }
                            <label asp-for="End" class="ms-2"></label>
                            <span asp-validation-for="End" class="text-danger"></span>
                        </div>

                        <div class="row pt-2">
                            <div class="col-6 col-md-3">
                                @if (Model.Id != 0)
                                {
                                    <button type="submit" class="btn btn-primary form-control">Update</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary form-control">Create</button>
                                }
                            </div>
                            <div class="col-6 col-md-3">
                                <a asp-area="Admin" asp-controller="LeaveRequest" asp-action="Index" class="btn btn-outline-primary border  form-control">
                                    Back to List
                                </a>
                            </div>
                        </div>


                    </div>
                </div>

            </div>

        </form>
    </div>
</div>




@section Scripts {
    @{
        <partial Start="_ValidationScriptsPartial" />
    }
}